# 배열(Array)
- 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
- 파이썬에서는 리스트 타입이 배열 기능을 제공함

## 배열의 필요성
- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
- 같은 종류의 데이터를 순차적으로 저장
- 장점: 
  - 빠른 접근 가능
    - 첫 데이터의 위치에서 상대적인 위치로 데이터 접근(인덱스 번호로 접근)
- 단점: 
  - 데이터 추가/삭제의 어려움
    - 미리 최대 길이를 지정해야 함

In [3]:
country = 'US'
print(country)

country = country + 'A'
print(country)

US
USA

## 파이썬과 배열
- 파이썬 리스트 활용

In [4]:
# 1차원 배열: 리스트로 구현
data = [1,2,3,4,5]
data

[1, 2, 3, 4, 5]

In [6]:
# 2차원 배열: 리스트로 구현
data= [[1,2,3], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
print(data[2][2], data[2][1], data[2][0])

9 8 7

In [17]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [24]:
m_count = 0
for data in dataset:
    for index in range(len(data)):
        if(data[index] == 'M'):
            m_count+=1
            
print(m_count)

38

In [9]:
class A:
    def __init__(self):
        self.data = [1 for _ in range(4)]
        self.data2 = [i+j for j in range(4) for i in range(4)]
        self.data2_2 = [[i+j for j in range(4)] for i in range(4)]
#         self.data2_3 = [[i+j for j in range(4, j+2)] for i in range(4)]
    
    def setData(self, first, second, third, fourth):
#         print(self.data)
        print(self.data2_2)
#         print(self.data2_3)
        
        self.data[0] = first
        self.data[1] = second        
        self.data[2] = third
        self.data[3] = fourth

In [10]:
a = A()

a.setData(1, 2, 3, 4)

[[0, 1, 2, 3], [1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]